<launch>

  <env name="ROSCONSOLE_CONFIG_FILE"
       value="$(find forces_processing)/conf/custom_rosconsole.conf"/>

  <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>

  <include file="$(find ur_modern_driver)/launch/ur5_bringup.launch">
    <arg name="robot_ip" value="192.168.1.68"/>
  </include>

  <include file="$(find ur5_custom_config)/launch/ur5_on_table_moveit_planning_execution.launch"/>

</launch>